{# cocos live #}
{# http://www.cocoslive.net #}
{# License: See LICENSE file #}
{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
<ul>
<h4>cocos Live is shutting down in 6 months</h4>

<p>After more than 2 years of running Cocos Live, we will be sunsetting this service in six months to move on to new ventures.  We will officially shutdown these services on December 1, 2011 but in the interim, you can expect the same support and service as always.</p>

<p>While we will no longer be accepting new games, we will provide a link where you can download scores stored on our site.   We strongly suggest you do this before December 1, 2011 as the data will not be available past that date.</p>

<p>It’s been an incredible privilege and honor to have you as a customer. We’re proud of our product and we have enjoyed providing the developer community with tools to create fun and exciting games for mobile.  We wish you the best of luck in the future as you continue to develop games.</p>

<p>Sincerely,</p>

<p>Ricardo<br/>
Sapus Media Founder</p>

<p>For more information, visit our <a href="/shutdown_faq">Frequently Asked Questions page</a>.
</p>

<li>cocos Live v0.3.6 released <small><i><b>2009-09-22</b></i></small></li>
<li>cocos Live v0.3.6 released <small><i><b>2009-09-22</b></i></small></li>
<li>cocos Live v0.3.5 released <small><i><b>2009-08-14</b></i></small></li>
<li>cocos Live v0.3.4 released <small><i><b>2009-08-06</b></i></small></li>
<li>cocos Live v0.3.3 released <small><i><b>2009-07-14</b></i></small></li>
<li>cocos Live v0.3.1 released <small><i><b>2009-04-21</b></i></small></li>
<li>cocos Live v0.3.0 released <small><i><b>2009-03-20</b></i></small></li>
<li>cocos Live v0.2.0 released <small><i><b>2009-03-04</b></i></small></li>
<li>cocos Live v0.1.3 released <small><i><b>2009-03-02</b></i></small></li>
<li>cocos Live v0.1.2 released <small><i><b>2009-02-26</b></i></small></li>
<li><a href="http://blog.sapusmedia.com/2009/02/cocos-live-v011-with-device-id-filter.html">cocos Live v0.1.1 with filter for Device Id</a> <small><i><b>2009-02-25</b></i></small></li>
<li><a href="http://blog.sapusmedia.com/2009/02/cocos-live-high-score-server-for.html">cocos Live, a high score server for iPhone Games</a> <small><i><b>2009-02-19</b></i></small></li>
</ul>

<h2 class="fancy">Changelog</h2>
<p>See full changelog from here: <a href="static/CHANGELOG.txt">CHANGELOG.txt</a></p>

{% endblock %}
