{# cocos live #}
{# http://www.cocoslive.net #}
{# License: See LICENSE file #}
{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}

<h3>cocos Live Shutdown FAQs</h3>
<h4>Why are we shutting down cocos Live?</h4>
<p>As much as we have loved providing you this service, we are shutting down to move on to new ventures.</p>

<h4>What will happen to this service?</h4>
<p>We will officially shutdown this service on December 1, 2011 but in the interim, you can expect the same support and service as you have now.</p>

<h4>Can we add new games to cocos Live?</h4>
<p>Unfortunately not.  Since we are now transitioning, we recommend you create your own <a href="http://thebackfiregames.wordpress.com/2011/05/13/creating-your-own-personal-score-server/">instance of cocos Live</a> in Google App Engine, or use an alternative service like <a href="http://www.apple.com/game-center/">Game Center</a> or <a href="http://www.openfeint.com/">OpenFeint</a>.</p>

<h4>What will happen to the games we have that use this site?</h4>
<p>Data from games that use this site will no longer be available as of December 1, 2011.  However, we will provide a tool that will let you download the scores in the near future.</p>

<h4>Who can I talk to if I have questions about the impending product shutdown?</h4>
<p>You can contact us at info@sapusmedia.com and we will get back to you promptly.</p>

{% endblock %}
