{# cocos live #}
{# http://www.cocoslive.net #}
{# License: See LICENSE file #}
{% extends "page.html" %}

{% block content %}
<p>We apologize, but we are no longer accepting new games.</p>
<p>If you want to use a high score server we suggest using:</p>
<ul>
    <li><a href="http://www.apple.com/game-center/">Game Center</a></li>
    <li><a href="http://www.openfeint.com">OpenFeint</a></li>
    <li>Or create your own instance of cocosLive</li>
</ul>

{% endblock %}

{% block sidebar %}
{% endblock %}
